<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="serviceInfoProvider" class="net.es.nsi.pce.config.nsa.JsonNsaConfigProvider" init-method="loadConfig" scope="singleton">
        <property name="filename" value="config/nsa.json"/>
    </bean>

    <bean id="authProvider" class="net.es.nsi.pce.config.nsa.auth.NsaConfigAuthProvider" scope="singleton" />

    <bean id="httpConfigProvider" class="net.es.nsi.pce.config.http.JsonHttpConfigProvider" init-method="loadConfig" scope="singleton">
        <property name="filename" value="config/http.json"/>
    </bean>

    <!-- Topology providers are configured through the config parameter and initialize methods. -->
    <bean id="topologyProvider" class="net.es.nsi.pce.config.topo.PollingTopologyProvider" init-method="initialize" scope="singleton">
        <property name="configuration" value="config/topology.xml"/>
        <property name="manifestReader" ref="topologyManifestReader"/>
    </bean>

    <bean id="topologyManifestReader" class="net.es.nsi.pce.config.topo.GitHubManifestReader" scope="singleton" />

    <!--
    <bean id="topologyProvider" class="net.es.nsi.pce.config.topo.XmlTopologyProvider" init-method="initialize" scope="singleton">
        <property name="configuration" value="config/topology"/>
    </bean>
    -->

    <bean id="DijkstraPCE" class="net.es.nsi.pce.pf.DijkstraPCE" scope="singleton" />
 
    <bean id="AuthPCE" class="net.es.nsi.pce.pf.AuthPCE" scope="singleton" />

    <bean id="PretendPCE" class="net.es.nsi.pce.pf.PretendPCE" scope="singleton" />

    <bean id="chainPCE" class="net.es.nsi.pce.pf.SequentialPCE" scope="singleton">
        <property name="moduleList">
            <list>
                <ref bean="AuthPCE" />
                <ref bean="DijkstraPCE" />
            </list>
        </property>
    </bean>

    <bean id="treePCE" class="net.es.nsi.pce.pf.SequentialPCE" scope="singleton">
        <property name="moduleList">
            <list>
                <ref bean="PretendPCE" />
            </list>
        </property>
    </bean>
</beans>
